 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Love+Ya+Like+A+Sister&family=Orbitron:wght@900&family=Poppins:wght@500&family=Roboto+Mono:ital,wght@0,300;1,300&display=swap');

 @font-face {
    font-family:digital-7 ;
    src: url("digital-7.ttf");
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    width: 100vw;
    height: 100vh;
    background-color: #e74c3c;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
 
 }
 .timer{
    background-color: #0b0b0c;
    width: 500px;
    height: 300px;
    font-family: digital-7;
    font-size: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction:column;
    box-shadow: rgba(30, 137, 179, 0.3) 0px 54px 55px, rgba(29, 160, 212, 0.671) 0px -12px 30px,rgba(29, 160, 212, 0.671)0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(29, 160, 212, 0.671) 0px -3px 5px;

 }
.frame{
   display: flex;
   gap: 5px;
   user-select: none;
   color:#177c39 ;
   

}
.buttons,button{
    margin-top: 18px;
    padding: 5px;
    gap: 10px;
    font-size: 20px;
    border: none;
   
    user-select: none;
   
   
}
button{
    
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin: 10px;
   
    
}
.start{
    background-color: #27ae60;
}
.stop{
    background-color: #e74c3c;
}
.reset{
    background-color: #2980b9;
}

.startpoint,
.stoppoint{
    pointer-events: none;
    opacity: 0.5;
}